@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --dark-black: #000000;
    --white-color: #fff;
    --monstrate-font-500: 'Montserrat', sans-serif;
    --history-btn-color: #2C2D30;
    --green-color: #28A909;
    --auto-btn-color: red;
    --bet-cancle-btn-color:red;
    --controllers-bg-color: #1B1C1D;
    --playbet-btn-border: #B2F2A3;
    --robot-font: 'Roboto', sans-serif;
    --disabled-placebetcounte: #75767b6b;
    --disabled-white: #ffffffe0;
    --poppins-font: 'Poppins', sans-serif;
}

.gameboard-section {
    width: 100%;
 
}

.gameboard-section .gameboard-container {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  
}

.gameboard-section .gameboard-container .game-section {
    width: 70%;
    max-width: 73%;

}

.gameboard-section .gameboard-container .game-section .game-history-header {
    width: 100%;
    display: flex;
}

.gameboard-section .gameboard-container .game-section .game-history-header .histories {
    max-width: 90%;
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
 
}



.gameboard-section .gameboard-container .game-section .game-history-header .histories .history {
    color: #F8C961;
    padding: 0px 10px;
    font-size: 0.8rem;
    font-family: var(--monstrate-font-500);
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn img {
    width: 100%;
    height: 100%;
}

/* Response breakpoint */
@media screen and (max-width:820px) {
   
.gameboard-section {
    width: 100%;
}

.gameboard-section .gameboard-container {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.gameboard-section .gameboard-container .game-section {
    width: 95%;
    max-width:98%;

}

.gameboard-section .gameboard-container .game-section .game-history-header {
    width: 100%;
    display: flex;
}

.gameboard-section .gameboard-container .game-section .game-history-header .histories {
    max-width: 90%;
    display: flex;
    align-items: center;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
   
}



.gameboard-section .gameboard-container .game-section .game-history-header .histories .history {
    color: #F8C961;
    padding: 0px 40px;
    font-size: 0.8rem;
    font-family: var(--monstrate-font-500);
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn {
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: -5px;
}

.gameboard-section .gameboard-container .game-section .game-history-header .history-btn img {
    width: 100%;
    height: 100%;
}

}

/* unity game box designe */
.unity-game-box {
    width: 100%;
    height: 55vh;
   
}

.unity-game-box .canvas {
    width: 100%;
    height: 100%;
}

.unity-game-box .canvas .unity {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}

/* Game controllers  */

@media screen and (max-width:768px){
.gameboard-section .gameboard-container .game-section {
    width: 100%;
    max-width:100%;
}
/* unity game box designe */
.unity-game-box {
    width: 100%;
    height: 30vh;
    margin: auto;
   
}

.unity-game-box .canvas {
    width: 100%;
    height: 100%;
}

.unity-game-box .canvas .unity {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}
/* Game controllers  */
}

.gameboard-section .gameboard-container .game-section .game-controllers-section {
    width: 100%;
    height: 23vh;
    margin-top: 12px;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container {
    width: 90%;
    height: 23vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers {
    width: 43%;
    height: 24vh;
    margin: auto;
    background-color: var(--controllers-bg-color);
    border-radius: 12px;
    padding: 10px;
    position: relative;
}

/* new code of autobet controllers and place bet */

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers {
    width: 100%;
    display: flex;
    justify-content: center;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-bet {
    width: 50%;



}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-collect {
    width: 50%;


}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header .speed {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.7rem;
    text-transform: capitalize;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header .autobet-btn {
    font-size: 0.6rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    display: flex;
    align-items: center;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-bet .autobet-controller {
    width: 95%;
    display: flex;
    background-color: var(--dark-black);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    box-sizing: border-box;
}


.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease,
.increase {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 800;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container

.left-controllers .play-bet-controllers .auto-bet .autobet-controller .increase {
    font-size: 1.5rem;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-bet .autobet-controller .bet-value {
    font-size: 1rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-collect .autocollect-btn-header {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;


}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-collect .autocollect-btn-header .autocollect-btn {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    display: flex;
    align-items: center;

}


.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-collect .autocollect-controller {
    width: 95%;
    margin: auto;
    display: flex;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease,
.increase {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .play-bet-controllers .auto-collect .autocollect-controller .bet-value {
    font-size: 1rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn {
    width: 100%;
    display: flex;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .autobet-betvalues {
    width: 50%;
    display: grid;
    grid-template-columns: 45% 45%;
    text-transform: capitalize;
    gap: 5%;
    margin: auto;
    cursor: pointer;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .autobet-betvalues .betvalue {
    height: 5vh;
    font-size: 0.9rem;
    font-family: var(--monstrate-font-500);
    color: #D6D6D6;
    background-color: var(--dark-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .left-controllers .autobet-values-place-bet-btn .placebet-btn {
    width: 50%;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn button {
    width: 100%;
    padding: 10px 0px 10px 0px;
    ;
    height: 12vh;
    border-radius: 5px;
    background-color: var(--green-color);
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
    margin-top: 5px;
    text-transform: capitalize;
    border: none;
}
.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn button .collect-amount{
    font-size: 1.2rem;
}
.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn button .collect-text{
    font-size: 0.8rem;
    font-family: var(--poppins-font);
    font-weight: 600;
}
.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn button .placebet-fornext-round{
    font-size: 1.1rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}
.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn button .for-next-round-text{
    font-size: 0.8rem;
    font-family: var(--monstrate-font-500);
    color: var(--disabled-white);
}
.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.left-controllers .autobet-values-place-bet-btn .placebet-btn .cancle-nextround-bet-button{
    width: 100%;
        padding: 10px 0px 10px 0px;;
        height: 10vh;
        border-radius: 5px;
        background-color: var(--bet-cancle-btn-color);
        font-family: var(--monstrate-font-500);
        color: var(--white-color);
        line-height: 1.3rem;
        font-size: 1rem;
        font-weight: 520;
        cursor: pointer;
        margin-top: 3px;
        text-transform: capitalize;
        border: none;
}

/* end of new code */

@media screen and (max-width:768px){
    .gameboard-section .gameboard-container .game-section .game-controllers-section {
        width: 100%;
        height: 23vh;
        margin-top: 100px;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container {
        width: 100%;
        height: 23vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section 
    .gamecontrollers-container .left-controllers {
        width: 95%;
        height: 24vh;
        background-color: var(--controllers-bg-color);
        border-radius: 12px;
        padding: 10px;
        position: relative;
        margin-left: 0px;
    }
    
    /* new code of autobet controllers and place bet */
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section
     .gamecontrollers-container .left-controllers .play-bet-controllers {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-bet {
        width: 50%;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-collect {
        width: 50%;
    
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header {
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header .speed {
        color: var(--white-color);
        font-family: var(--monstrate-font-500);
        font-size: 0.7rem;
        text-transform: capitalize;
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-bet .autobet-btn-header .autobet-btn {
        font-size: 0.5rem;
        text-transform: uppercase;
        color: var(--white-color);
        font-family: var(--monstrate-font-500);
        display: flex;
        align-items: center;
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-bet .autobet-controller {
        width: 95%;
        display: flex;
        background-color: var(--dark-black);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px;
      
    }
    
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease,
    .increase {
        font-size: 1rem;
        color: var(--white-color);
        font-weight: 800;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease.disabled {
        color: var(--disabled-white);
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
    
    .left-controllers .play-bet-controllers .auto-bet .autobet-controller .increase {
        font-size: 1.2rem;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-bet .autobet-controller .bet-value {
        font-size: 0.9rem;
        font-family: var(--monstrate-font-500);
        color: var(--white-color);
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-collect .autocollect-btn-header {
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: right;
    
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-collect .autocollect-btn-header .autocollect-btn {
        font-size: 0.5rem;
        text-transform: uppercase;
        color: var(--white-color);
        font-family: var(--monstrate-font-500);
        display: flex;
        align-items: center;
    
    }
    
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-collect .autocollect-controller {
        width: 95%;
        margin: auto;
        display: flex;
        background-color: #000000;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease,
    .increase {
        font-size: 1rem;
        color: var(--white-color);
        font-weight: 600;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease.disabled {
        color: var(--disabled-white);
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .play-bet-controllers .auto-collect .autocollect-controller .bet-value {
        font-size: 0.9rem;
        font-family: var(--monstrate-font-500);
        color: var(--white-color);
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .autobet-values-place-bet-btn {
        width: 100%;
        display: flex;
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .autobet-values-place-bet-btn .autobet-betvalues {
        width: 50%;
        display: grid;
        grid-template-columns: 45% 45%;
        text-transform: capitalize;
        gap: 5%;
        margin: auto;
        margin-top: 3px;
    
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .autobet-values-place-bet-btn .autobet-betvalues .betvalue {
        height: 4.5vh;
        font-size: 0.9rem;
        font-family: var(--monstrate-font-500);
        color: #D6D6D6;
        background-color: var(--dark-black);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
     .left-controllers .autobet-values-place-bet-btn .placebet-btn {
        width: 50%;
    }
    
    .gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
    .left-controllers .autobet-values-place-bet-btn .placebet-btn button {
        width: 100%;
        padding: 10px 0px 10px 0px;;
        height: 10vh;
        border-radius: 5px;
        background-color: var(--green-color);
        font-family: var(--monstrate-font-500);
        color: var(--white-color);
        line-height: 1.3rem;
        font-size: 1rem;
        font-weight: 520;
        cursor: pointer;
        margin-top: 3px;
        text-transform: capitalize;
        border: none;
    }
    
}

/* Right controllers */

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers {
    width: 43%;
    height: 24vh;
    margin: auto;
    background-color: var(--controllers-bg-color);
    border-radius: 12px;
    padding: 10px;
    position: relative;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers {
    width: 100%;
    display: flex;
    justify-content: center;
}



.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet {
    width: 50%;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-collect {
    width: 50%;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-btn-header {
    width: 95%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-btn-header .speed {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.9rem;
    text-transform: capitalize;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-btn-header .autobet-btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    display: flex;
    align-items: center;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-controller {
    width: 90%;
    margin: auto;
    display: flex;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease,
.increase {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-controller .increase {
    font-size: 1.5rem;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-bet .autobet-controller .bet-value {
    font-size: 1rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-collect .autocollect-btn-header {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;


}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-collect .autocollect-btn-header .autocollect-btn {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    display: flex;
    align-items: center;

}


.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-collect .autocollect-controller {
    width: 95%;
    margin: auto;
    display: flex;
    background-color: #000000;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease,
.increase {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease.disabled,
.increase.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-collect .autocollect-controller .bet-value {
    font-size: 1rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .autobet-values-place-bet-btn {
    width: 100%;
    display: flex;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .autobet-values-place-bet-btn .autobet-betvalues {
    width: 50%;
    display: grid;
    grid-template-columns: 45% 45%;
    text-transform: capitalize;
    gap: 5%;
    margin: auto;
    cursor: pointer;
    margin-top: 5px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .autobet-values-place-bet-btn .autobet-betvalues .betvalue {
    height: 5vh;
    font-size: 0.9rem;
    font-family: var(--monstrate-font-500);
    color: #D6D6D6;
    background-color: var(--dark-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .autobet-values-place-bet-btn .placebet-btn {
    width: 50%;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .autobet-values-place-bet-btn .placebet-btn button {
    width: 100%;
    padding: 10px 0px 10px 0px;
    height: 12vh;
    border-radius: 5px;
    background-color: var(--green-color);
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
    margin-top: 0px;
    text-transform: capitalize;
    border: none;
}

@media screen and (max-width:768px){

/* Right controllers */

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers {
    width: 95%;
    height: 24vh;
    background-color: var(--controllers-bg-color);
    border-radius: 12px;
    padding: 10px;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers {
    width: 100%;
    display: flex;
    justify-content: center;
}



.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-bet {
    width: 50%;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-collect {
    width: 50%;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-bet .autobet-btn-header {
    width:100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-bet .autobet-btn-header .speed {
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    font-size: 0.6rem;
    text-transform: capitalize;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-bet .autobet-btn-header .autobet-btn {
    font-size: 0.5rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-family: var(--monstrate-font-500);
    display: flex;
    align-items: center;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-bet .autobet-controller {
    width: 95%;
    margin: auto;
    display: flex;
    background-color: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease,
.increase {
    font-size: 1rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-bet .autobet-controller .decrease.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-bet .autobet-controller .increase {
    font-size: 1.3rem;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-bet .autobet-controller .bet-value {
    font-size: 0.9rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .play-bet-controllers .auto-collect .autocollect-btn-header {
    width: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: right;


}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-collect .autocollect-btn-header .autocollect-btn {
    font-size: 0.5rem;
}


.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-collect .autocollect-controller {
    width: 95%;
    margin: auto;
    display: flex;
    background-color: #000000;
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease,
.increase {
    font-size: 1.2rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .play-bet-controllers .auto-collect .autocollect-controller .decrease.disabled,
.increase.disabled {
    color: var(--disabled-white);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .play-bet-controllers .auto-collect .autocollect-controller .bet-value {
    font-size: 0.9rem;
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .autobet-values-place-bet-btn {
    width: 100%;
    display: flex;

}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .autobet-values-place-bet-btn .autobet-betvalues {
    width: 50%;
    display: grid;
    grid-template-columns: 45% 45%;
    text-transform: capitalize;
    gap: 5%;
    margin: auto;
    margin-top: 3px;


}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container
 .right-controllers .autobet-values-place-bet-btn .autobet-betvalues .betvalue {
    height: 4.5vh;
    font-size: 0.8rem;
    font-family: var(--monstrate-font-500);
    color: #D6D6D6;
    background-color: var(--dark-black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container 
.right-controllers .autobet-values-place-bet-btn .placebet-btn {
    width: 50%;
}

.gameboard-section .gameboard-container .game-section .game-controllers-section .gamecontrollers-container .right-controllers .autobet-values-place-bet-btn .placebet-btn button {
    width: 100%;
    padding: 10px 0px 10px 0px;
    ;
    height: 10vh;
    border-radius: 5px;
    background-color: var(--green-color);
    font-family: var(--monstrate-font-500);
    color: var(--white-color);
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 520;
    cursor: pointer;
    margin-top: 5px;
    text-transform: capitalize;
    border: none;
}


}




/* bets details section designe */
.gamebets-section {
    width: 30%;
    margin-left: 30px;
    margin-top: 40px;
}


.gamebets-section .gamebets-tabs {
    display: flex;
    align-items: center;
}

.gamebets-section .gamebets-tabs .active-tab {
    color: var(--white-color);
    background-color: var(--auto-btn-color);

}

.gamebets-section .gamebets-tabs button {
    padding: 4px 26px 4px 26px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--history-btn-color);
    color: var(--white-color);
    border: none;
    font-family: var(--monstrate-font-500);
    text-transform: capitalize;
    font-size: 0.7rem;
    cursor: pointer;
    transition: ease all 0.5s;
}

.gamebets-section .gamebets-details {
    width: 100%;
    height: 80vh;
    position: relative;
}
.gamebets-section .gamebets-details .bets-loader{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%)

}
.gamebets-section .gamebets-details .details-headings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.gamebets-section .gamebets-details .details-headings div {
    color: var(--white-color);
}






/* Responsive view port for the mobiles and ipad imin  */
@media screen and (max-width:768px) {

    /* bets details section designe */
    .gamebets-section {
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

}
